.clearance {
  border-left: 0.5em solid #4caf50;

  td{
    background-color: #e6f9e6;
  }
}


table {
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

  td, th {
    padding: 1rem;
    vertical-align: middle;
  }

  img {
    max-width: 100px;
    border-radius: 0.5rem;
  }
  
  th:nth-child(5),
  td:nth-child(5),
  .td_quantity,
  .td_name  {
    width: 8em;
    min-width: 8em;
    max-width: 10em;
  }
}

.stock-message {
  display: block;
  width: 90%;
  white-space: normal;
  margin-top: 0em;
}


