h1 {
  text-align: center;
  color: #333333;
}

.clearance {
  border: 2px solid green;

  td {
    background-color: lightgreen;
  }
}

table {
  img {
    max-width: 100px;
  }
}

.stock-message {
  display: block;
  width: 90%;
  white-space: normal;
  margin-top: 0em;
}

th:nth-child(5),
td:nth-child(5) {
  width: 10em;
  min-width: 8em;
  max-width: 10em;
}
