h1 {
  text-align: center;
  color: #333333;
}

.clearance {
  border: 2px solid green;

  td {
    background-color: lightgreen;
  }
}

table {
  img {
    max-width: 100px;
  }

  td{
    vertical-align: middle;
    text-align: center;
  }

  th:nth-child(5),
  td:nth-child(5),
  #td_quantity,
  #td_name  {
    width: 8em;
    min-width: 8em;
    max-width: 10em;
  }
}

.stock-message {
  display: block;
  width: 90%;
  white-space: normal;
  margin-top: 0em;
}
