<h3 id="title" class="display-6 text-center text-secondary mb-4">Carrito de compras</h3>


<ul class="list-group mt-4 shadow-sm rounded overflow-hidden">
    @for (item of cartList$ | async; track item.id) {
    <li class="list-group-item d-flex justify-content-between align-items-center py-3 px-2 gap-3">
        <div class="fw-semibold text-wrap" style="flex: 2;">
            {{ item.name }}
        </div>
        <div class="text-end" style="flex: 2;">
            <p class="fw-bold m-0">{{ item.price * item.quantity | currency }}</p>
            <small class="text-muted">{{ item.price | currency }} x {{ item.quantity }}</small>
        </div>
        <span class="badge rounded-pill border border-success fs-6" style="flex-shrink: 0;">
            {{ item.quantity }}
        </span>
    </li>
    }
    @empty {
    <li class="list-group-item text-center py-4">
        <span class="text-muted"><i class="bi bi-cart-x"></i> No hay productos en el carrito</span>
    </li>
    }
</ul>

<div *ngIf="(cartList$ | async) as cart">
    <div *ngIf="cart.length > 0">
        <div>
            <div class="d-flex justify-content-between align-items-center mt-4 border-top pt-3">
                <span class="fw-bold fs-5">Total:</span>
                <span class="fw-bold fs-5 text-success">{{ total$ | async | currency }}</span>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-success w-100 mt-3 shadow-sm">
                    Finalizar compra <i class="bi bi-credit-card-2-back"></i>
                </button>
            </div>
        </div>
    </div>